
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: left;
  padding: 21px 20px;
  text-decoration: none;
  transition: all 0.3s ease; /* Transition effect for smooth hover */
}


.navbar .left-links a {
  margin-right: 20px; /* Adjusted margin between links */
}
.navbar a:hover {
  background-color: #555; /* Darker background on hover */
  color: white;
}

.auth-buttons {
  float: right;
}

.auth-buttons a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  margin: 12px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.auth-buttons a:hover {
  background-color: #4CAF50;
  border-color: #4CAF50;
  color: white;
}
